# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore specific file
secret.txt

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/tests/example.spec.ts

